-if user_signed_in?
  %p="Hello, #{current_user.first_name}!"
  %p=link_to "Log out", destroy_user_session_path, method: :delete

%h1 List of articles
%table
  %tr
    %th{align: "left"} Title
    %th{align: "left"} Content
    %th
  - @articles.each do |article|
    %tr
      %td= article.title
      %td= article.lede
      %td= link_to 'Show', article_path(article)
%br/
%a{:href => "articles/new.html"} New Article
